@layer theme, base, mantine, components, utilities;

@import "tailwindcss";

@import "@mantine/core/styles.layer.css";
@import "@mantine/dates/styles.css";
@import "mantine-react-table/styles.css";

@custom-variant dark (&:where([data-mantine-color-scheme=dark], [data-mantine-color-scheme=dark] *));

@theme {
  /* Colors */
  --color-primary-50: var(--color-teal-50);
  --color-primary-100: var(--color-teal-100);
  --color-primary-200: var(--color-teal-200);
  --color-primary-300: var(--color-teal-300);
  --color-primary-400: var(--color-teal-400);
  --color-primary-500: var(--color-teal-500);
  --color-primary-600: var(--color-teal-600);
  --color-primary-700: var(--color-teal-700);
  --color-primary-800: var(--color-teal-800);
  --color-primary-900: var(--color-teal-900);
  --color-primary-950: var(--color-teal-950);
  --color-secondary-50: #fbf5ff;
  --color-secondary-100: #f5e7ff;
  --color-secondary-200: #edd4ff;
  --color-secondary-300: #dfb2ff;
  --color-secondary-400: #cb80ff;
  --color-secondary-500: #af3cfc; /* current */
  --color-secondary-600: #a42df0;
  --color-secondary-700: #8e1cd4;
  --color-secondary-800: #771dac;
  --color-secondary-900: #62188b;
  --color-secondary-950: #440467;

  --color-gradient: rgba(175, 60, 252, 0.5);

  --color-gray-50: #f6f7f8;
  --color-gray-100: #e9ecf0;
  --color-gray-200: #dee2e8; /* current */
  --color-gray-300: #bec6d2;
  --color-gray-400: #9fabbb;
  --color-gray-500: #8792aa;
  --color-gray-600: #767f9a;
  --color-gray-700: #69708c;
  --color-gray-800: #595e74;
  --color-gray-900: #4a4e5e;
  --color-gray-950: #4a4e5e;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins-regular);

  --breakpoint-xs: 576px;
}

html,
body,
#app {
  height: 100%;
}
